@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center flex-column gap-4 ">
    <h1 class="display-4">Welcome to our pizzeria</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quas corporis, aperiam sint alias doloremque cum. Magnam nesciunt, deleniti nam nisi maiores placeat tenetur, ipsum illum nostrum consectetur voluptates laborum.</p>
    <div>
        
        <a class="fs-3" asp-area="" asp-controller="Pizza" asp-action="Index">Our Pizzas</a>
        
    </div>
    
</div>
